body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

#app {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
}

.card {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.card h2 {
  margin-top: 0;
}

input[type="text"],
input[type="color"],
button {
  margin-bottom: 10px;
  display: block;
}

#results {
  max-height: 300px;
  overflow-y: auto;
}

.chart-container {
  height: 300px;
}

.bar {
  height: 20px;
  margin-bottom: 5px;
}

#pieChartCard {
  width: 220px;
  margin-left: auto;
}
